html {
    box-sizing: border-box;
}

div {
    width: 89%;
    height: 320px;
    background-color: darkslateblue;
    margin: 10% auto;
    box-shadow: 8px 8px;
    max-width: 600px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 414px) {
    #age {
        width: 70px;
    }
}

p {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: cursive;
}

input {
    display: block;
    margin: auto;
    width: 53%;
    height: 38px;
    border-radius: 20px;
    border: none;
    font-family: cursive;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}

button {
    display: block;
    margin: 40px auto;
    background-color: yellow;
    width: 15%;
    height: 49px;
    font-family: cursive;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 900;
    border: none;
}

button:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}